body{
    background-color: #2980B9;
}
.ColorForm{
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.jumbotron{
   margin-top: 30px; 
   padding-top: 30px; 
   padding-bottom: 30px; 
}

.imgLogo{
    width: 100px; height: 100px;
}

.marginboton{
  margin-right: auto;  
}

