body{
  /*background-color: #2980B9;*/
  background-image: url("/Login/images/Basílica_Santo_Domingo_de_Guzmán.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ColorForm{
  background: #ffffff99;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.row{
  padding-bottom: 20px;
}
